{% extends 'layout.twig' %}

{% block csslink %}
    <link rel='stylesheet' href='../../public/assets/css/app.css'>
    <link rel='stylesheet' href='../../public/assets/alertifyjs/css/alertify.min.css'>
    <link rel='stylesheet' href='../../public/assets/alertifyjs/css/themes/default.min.css'>
{% endblock %}

{% block namepage %}
    Perfil de administración en SRPPFG
{% endblock %}

{% block title %}
    Administrador:  {{ vPerfil.name }} {{ vPerfil.l_name }}
{% endblock %}

{% block menu %}
    {% include('remnant/nav-admin.twig') %}
{% endblock %}

{% block configpersonal %}
    {% include('remnant/sub-nav.twig') %}
    <div class="nav-way">
        <p>
        <a class=".btn .btn-primary" href="{{'admin' | url }}">Inicio</a> &nbsp; | &nbsp; Configuración
        </p>
    </div>


{% endblock %}

{% block content %}
<article id="main">
        <section class="wrapper style5">
            <div class="inner">
                <section>
                    <h4 style="text-align: center;">Configuración</h4>
                    <div class="wrapper-form">
                        <div class="message-box">
                            {% include 'remnant/errors.twig' %}
                            {% include 'remnant/success.twig' %}
                        </div>
                        <form method="post" onsubmit="return validateFormConfigAdmin()">
							<input type="hidden" name="id" value="{{ vPerfil.id }}">
                            <input type="hidden" name="id_account" value="{{ vPerfil.id_account }}">
                            <div class="row uniform">
                               <div class="4u 12u$(xsmall)">
                                    <label>Nombre completo</label>
                                    <input type="text" name="name" id="name" value="{{vPerfil.name}}" placeholder="Nombre completo..." onkeyup="formatLetters(this)" onchange="formatLetters(this)"/>
                                </div>
                                <div class="3u 12u$(xsmall)">
                                    <label>Apellido paterno</label>
                                    <input type="text" name="lname" id="lname" value="{{vPerfil.l_name}}" placeholder="Apellido paterno..." onkeyup="formatLetters(this)" onchange="formatLetters(this)"/>
                                </div>
                                <div class="3u 12u$(xsmall)">
                                    <label>Apellido materno</label>
                                    <input type="text" name="mlname" id="mlname" value="{{vPerfil.ml_name}}" placeholder="Apellido materno..." onkeyup="formatLetters(this)" onchange="formatLetters(this)"/>
                                </div>
                                <div class="2u$ 12u$(xsmall)">
                                    <label>CI</label>
                                    <input type="text" name="ci" id="ci" value="{{vPerfil.ci}}" placeholder="CI..."  onkeyup="formatNum(this)" onchange="formatNum(this)"/>
                                </div>
                                <div class="5u 12u$(xsmall)">
                                    <label>Email</label>
                                    <input type="text" name="email" id="email" value="{{vPerfil.email}}" placeholder="Email..." />
                                </div>




                                <div class="5u 12u$(xsmall)">
                                    <label>Dirección</label>
                                    <input type="text" name="address" id="address" value="{{vPerfil.address}}" placeholder="Dirección..." />
                                </div>
                                <div class="2u$ 12u$(xsmall)">
                                    <label>Teléfono</label>
                                    <input type="text" name="phone" id="phone" value="{{vPerfil.phone}}" placeholder="Teléfono/celular..."  onkeyup="formatNum(this)" onchange="formatNum(this)"/>
                                </div>

                                <div class="6u 12u$(xsmall)">
                                    <label>Contraseña</label>
                                    <input type="password" name="pwd" id="pwd" value="" placeholder="Contraseña" />
                                </div>
                                <div class="6u 12u$(xsmall)">
                                    <label>Confirmar contraseña</label>
                                    <input type="password" name="pwdc" id="pwdc" value="" placeholder="Confirme la contraseña" />
                                </div>

                            <br>
                            <div class="12u 12u$(xsmall)">
                                <ul class="actions" style="text-align: center">
                                    <li><button class="principal" type="submit">Guardar los cambios</button>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </section>
                <br> 
                <br>
                <br>
            </div>
        </section>
    </article>
{% endblock %}

{% block jslink %}
    <script src='../../public/assets/js/jquery.min.js'></script>
    <script src='../../public/assets/js/jquery.scrollex.min.js'></script>
    <script src='../../public/assets/js/jquery.scrolly.min.js'></script>
    <script src='../../public/assets/js/skel.min.js'></script>
    <script src='../../public/assets/js/util.js'></script>
    <script src='../../public/assets/js/main.js'></script>

    <script src='../../public/assets/js/jquery-3.3.1.min.js'></script>
    <script src='../../public/assets/alertifyjs/alertify.min.js'></script>
    <script src='../../public/assets/alertifyjs/validation.js'></script>
{% endblock %}
