{% extends 'layout.twig' %}

{% block csslink %}
    <link rel='stylesheet' href='../../../public/assets/css/app.css'>
{% endblock %}

{% block namepage %}
    Perfil de administración en SRPPFG
{% endblock %}

{% block title %}
    Administrador:  {{ admin.name }} {{ admin.l_name }}
{% endblock %}

{% block menu %}
    {% include('remnant/nav-admin.twig') %}
{% endblock %}

{% block configpersonal %}
    {% include('remnant/sub-nav.twig') %}
    <div class="nav-way">
        <p>
        <a class=".btn .btn-primary" href="{{'admin' | url }}">Inicio</a> &nbsp; | &nbsp; <a class=".btn .btn-primary" href="{{'admin/' | url }}{{prev}}">{{prevMenu}}</a> &nbsp; | &nbsp; {{currentMenu}}
        </p>
    </div>
{% endblock %}

{% block content %}
<article id="main">
        <section class="wrapper style5">
            <div class="inner">
                <section>
                    <div class="wrapper-form">
                        <div class="message-box">
                            {% if errors %}
                                {% include 'remnant/errors.twig' %}
                            {% endif %}
                            {% if information %}
                                {% include 'remnant/information.twig' %}
                            {% endif %}
                            {% include 'remnant/success.twig' %}
                            
                        </div>         
                        <form method="post" action="#" enctype="multipart/form-data">
                            <div class="row uniform">
                                <div class="12u 12u$(xsmall)">
                                    <label>{{currentHeader}}</label>
                                    <br>
                                    <input name="{{formID}}" id="{{formID}}" onchange="cambiar({{formID}})" type="file" accept=".csv" />
                                    <p><div id="info">Ningún Archivo Seleccionado...</div></p>
                                    <br>
                                </div>
                            </div>
                            <br>
                            <div class="12u 12u$(xsmall)">
                                <ul class="actions" style="text-align: center">
                                    <li>
                                        <button class="principal" type="submit" disabled="disabled" id="importarButton" onclick='cargando()'>Importar</button>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </section>
                <br> 
                <br>
                <br>
            </div>
        </section>
    </article>
{% endblock %}

{% block jslink %}
    <script src='../../../public/assets/js/jquery.min.js'></script>
    <script src='../../../public/assets/js/jquery.scrollex.min.js'></script>
    <script src='../../../public/assets/js/jquery.scrolly.min.js'></script>
    <script src='../../../public/assets/js/skel.min.js'></script>
    <script src='../../../public/assets/js/util.js'></script>
    <script src='../../../public/assets/js/main.js'></script>
    <script src='../../../public/assets/js/upload.file.js'></script>
    <script>
        function cambiar(pdrs){
            if ('files' in pdrs){
                document.getElementById('info').innerHTML = "<b> Se subirá el siguiente Archivo: </b> <i>" + pdrs.files[0].name + "</i>";
                document.getElementById('importarButton').disabled=false;
            }
        }
        function cargando(){
            document.getElementById('info').innerHTML = "Los datos se estan cargando al sistema, espere por favor...<img src=\"../../../public/images/wrapper/loading.gif\" style=\"width:25px;height:25px;\" />";
            document.getElementById('importarButton').disabled=false;
        }
    </script>
{% endblock %}
