{% extends 'layout.twig' %}

{% block csslink %}
    <link rel='stylesheet' href='../../../public/assets/css/app.css'>
    <link rel='stylesheet' href='../../../public/assets/alertifyjs/css/alertify.min.css'>
    <link rel='stylesheet' href='../../../public/assets/alertifyjs/css/themes/default.min.css'>
{% endblock %}

{% block namepage %}
    Perfil de administración en SRPPFG
{% endblock %}

{% block title %}
    Administrador:  {{ vadmin.name }} {{ vadmin.l_name }} {{ vadmin.ml_name }}
{% endblock %}

{% block menu %}
    {% include('remnant/nav-admin.twig') %}
{% endblock %}

{% block configpersonal %}
    {% include('remnant/sub-nav.twig') %}
    <div class="nav-way">
        <p>
        <a class=".btn .btn-primary" href="{{'admin' | url }}">Inicio</a> &nbsp; | &nbsp; <a class=".btn .btn-primary" href="{{'admin/professionals' | url }}">Profesionales</a> &nbsp; | &nbsp; Nueva Cuenta
        </p>
    </div>
{% endblock %}

{% block content %}
<article id="main">
        <section class="wrapper style5">
            <div class="inner">
                <section>
                    <div class="wrapper-form">
                        <div class="message-box">
                            {% include 'remnant/errors.twig' %}
                            {% include 'remnant/success.twig' %}
                            {% include 'remnant/warning.twig' %}
                        </div>
                        <form method="post" onsubmit="return validateFormAddAccount()">
                            <div class="row uniform">
                                <div class="3u 12u$(xsmall)">
                                    <label>Nombre completo</label>
                                    <input type="text" name="name" id="name" value="{{vprofile.name}}" placeholder="Nombre completo" onkeyup="formatLetters(this)" onchange="formatLetters(this)"/>
                                </div>
                                <div class="3u 12u$(xsmall)">
                                    <label>Apellido paterno</label>
                                    <input type="text" name="lname" id="lname" value="{{vprofile.l_name}}" placeholder="Apellido paterno" onkeyup="formatLetters(this)" onchange="formatLetters(this)"/>
                                </div>
                                <div class="3u 12u$(xsmall)">
                                    <label>Apellido materno</label>
                                    <input type="text" name="mlname" id="mlname" value="{{vprofile.ml_name}}" placeholder="Apellido materno" onkeyup="formatLetters(this)" onchange="formatLetters(this)"/>
                                </div>
                                <div class="3u$ 12u$(xsmall)">
                                    <label>CI</label>
                                    <input type="text" name="ci" id="ci" value="{{vprofile.ci}}" placeholder="CI" onkeyup="formatNum(this)" onchange="formatNum(this)"/>
                                </div>
                                <div class="6u 12u$(xsmall)">
                                    <label>Email</label>
                                    <input type="text" name="email" id="email" value="{{vprofile.email}}" placeholder="Email"/>
                                </div>
                                <div class="3u$ 12u$(xsmall)">
                                    <label>Tipo de usuario</label>
                                    <select name="tuser" id="tuser">
                                        <option value="" disabled selected>- Seleccionar -</option>
                                        <option value="itnprof">Profesional UMSS</option>
                                        <option value="etnprof">Profesional Externo</option>
                                    </select>    
                                </div>
                            </div>
                            <br>
                            <div class="12u 12u$(xsmall)">
                                <ul class="actions" style="text-align: center">
                                    <li><button class="principal" type="submit">Crear</button>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </section>
                <br> 
                <br>
                <br>
            </div>
        </section>
    </article>
{% endblock %}

{% block jslink %}
    <script src='../../../public/assets/js/jquery.min.js'></script>
    <script src='../../../public/assets/js/jquery.scrollex.min.js'></script>
    <script src='../../../public/assets/js/jquery.scrolly.min.js'></script>
    <script src='../../../public/assets/js/skel.min.js'></script>
    <script src='../../../public/assets/js/util.js'></script>
    <script src='../../../public/assets/js/main.js'></script>

    <script src='../../../public/assets/js/jquery-3.3.1.min.js'></script>
    <script src='../../../public/assets/alertifyjs/alertify.min.js'></script>
    <script src='../../../public/assets/alertifyjs/validation.js'></script>
    <script>
        var selectTUser = document.getElementById('tuser');
        var valueStatep = 0;

         selectTUser.addEventListener('change', function(){
            var selectedOption = this.options[selectTUser.selectedIndex];
            valueStatep = selectedOption.value
        });

        function validateFormAddAccount(){
            var result = false;

            var name = document.getElementById('name').value.trim();
            var lname = document.getElementById('lname').value.trim();
            var mlname = document.getElementById('mlname').value.trim();
            var ci = document.getElementById('ci').value.trim();
            var email = document.getElementById('email').value.trim();

            if(name === '' || lname === '' || mlname === '' || ci === '' || email === ''){
                alertify.alert("Todos los campos deben ser llenados.", function(){
                    alertify.message('Ingrese datos correctamente');
                });
                return false;
            }else{
                if (valueStatep == 0){
                    alertify.alert("Debe seleccionar tipo de profesional.", function(){
                    alertify.message('Seleccione tipo de profesional');
                });
                }else{
                    var email = document.getElementById('email').value.trim();
                    var result = /\w+@\w+\.+[a-z]/.test(email);
                    if(!result){
                        alertify.alert("El correo no es válido.", function(){
                            alertify.message('Ingrese datos correctos');
                        });
                    }else{
                        result = confirm('¿Está seguro de crear un nuevo usuario?');
                    }
                }
            }
            return result;
       } 
    </script>
{% endblock %}