{% extends 'layout.twig' %}

{% block csslink %}
    <link rel='stylesheet' href='../../../public/assets/css/app.css'>
    <link rel='stylesheet' href='../../../public/assets/alertifyjs/css/alertify.min.css'>
    <link rel='stylesheet' href='../../../public/assets/alertifyjs/css/themes/default.min.css'>
{% endblock %}

{% block namepage %}
    Perfil de administración en SRPPFG
{% endblock %}

{% block title %}
    Administrador:  {{ vadmin.name }} {{ vadmin.l_name }} {{ vadmin.ml_name }}
{% endblock %}

{% block menu %}
    {% include('remnant/nav-admin.twig') %}
{% endblock %}

{% block configpersonal %}
    {% include('remnant/sub-nav.twig') %}
    <div class="nav-way">
        <p>
        <a class=".btn .btn-primary" href="{{'admin' | url }}">Home</a> &nbsp; | &nbsp; <a class=".btn .btn-primary" href="{{'admin/professionals' | url }}">Profesionales</a> &nbsp; | &nbsp; Crear Cuenta
        </p>
    </div>
{% endblock %}

{% block content %}
<article id="main">
        <section class="wrapper style5">
            <div class="inner">
                <section>
                    <div class="wrapper-form">
                        <div class="message-box">
                            {% include 'remnant/errors.twig' %}
                            {% include 'remnant/success.twig' %}
                            {% include 'remnant/warning.twig' %}
                        </div>
                        <form method="post" onsubmit="return validateFormAddAccount()">
                            <div class="row uniform">
                                <div class="3u 12u$(xsmall)">
                                    <label>Nombre completo</label>
                                    <input type="text" name="name" id="name" value="{{vprofile.name}}" placeholder="Nombre completo" onkeyup="formatLetters(this)" onchange="formatLetters(this)"/>
                                </div>
                                <div class="3u 12u$(xsmall)">
                                    <label>Apellido paterno</label>
                                    <input type="text" name="lname" id="lname" value="{{vprofile.l_name}}" placeholder="Apellido paterno" onkeyup="formatLetters(this)" onchange="formatLetters(this)"/>
                                </div>
                                <div class="3u 12u$(xsmall)">
                                    <label>Apellido materno</label>
                                    <input type="text" name="mlname" id="mlname" value="{{vprofile.ml_name}}" placeholder="Apellido materno" onkeyup="formatLetters(this)" onchange="formatLetters(this)"/>
                                </div>
                                <div class="3u$ 12u$(xsmall)">
                                    <label>CI</label>
                                    <input type="text" name="ci" id="ci" value="{{vprofile.ci}}" placeholder="CI" onkeyup="formatNum(this)" onchange="formatNum(this)"/>
                                </div>
                                <div class="6u 12u$(xsmall)">
                                    <label>Email</label>
                                    <input type="text" name="email" id="email" value="{{vprofile.email}}" placeholder="Email"/>
                                </div>
                                <div class="3u$ 12u$(xsmall)">
                                    <label>Tipo de usuario</label>
                                    <select name="tuser">
                                        <option value="" disabled selected>- Seleccionar -</option>
                                        <option value="itnprof">Profesional UMSS</option>
                                        <option value="etnprof">Profesional Externo</option>
                                    </select>    
                                </div>





                                
                            </div>

                            <br>
                            <div class="12u 12u$(xsmall)">
                                <ul class="actions" style="text-align: center">
                                    <li><button class="principal" type="submit">Crear</button>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </section>
                <br> 
                <br>
                <br>
            </div>
        </section>
    </article>
{% endblock %}

{% block jslink %}
    <script src='../../../public/assets/js/jquery.min.js'></script>
    <script src='../../../public/assets/js/jquery.scrollex.min.js'></script>
    <script src='../../../public/assets/js/jquery.scrolly.min.js'></script>
    <script src='../../../public/assets/js/skel.min.js'></script>
    <script src='../../../public/assets/js/util.js'></script>
    <script src='../../../public/assets/js/main.js'></script>

    <script src='../../../public/assets/js/jquery-3.3.1.min.js'></script>
    <script src='../../../public/assets/alertifyjs/alertify.min.js'></script>
    <script src='../../../public/assets/alertifyjs/validation.js'></script>
{% endblock %}