{% extends 'layout.twig' %}

{% block csslink %}
    <link rel='stylesheet' href='../../public/assets/css/app.css'>
{% endblock %}

{% block namepage %}
    Perfil de administración en SRPPFG
{% endblock %}

{% block title %}
    Administrador:  {{ admin.name }} {{ admin.l_name }}
{% endblock %}

{% block menu %}
    {% include('remnant/nav-admin.twig') %}
{% endblock %}

{% block configpersonal %}
    {% include('remnant/sub-nav.twig') %}
    <div class="nav-way">
        <p>
        <a class=".btn .btn-primary" href="{{'admin' | url }}">Home</a> &nbsp; | &nbsp; Áreas
        </p>
    </div>
{% endblock %}

{% block content %}
<article id="main">
        <section class="wrapper style5">
            <div class="inner">
                <section>
                    <div class="wrapper-form">
                        <div class="table-wrapper">
                            <div class="menu-actions">
                                <h2>Áreas disponibles</h2>
                                <div class="actions">
                                    <a href="{{ 'admin/area/create' | url }}{{ area.id }}">Nueva área</a>
                                    <a href="{{ 'admin/area/import' | url }}">Área por lote</a>
                                </div>
                            </div>
                            <table id="tabla_areas">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Descripción</th>
                                        <td>Acción</td>
                                    </tr>
                                </thead>
                                <tbody id="content_table">
                                    {% for area in areas %}
                                        <tr>
                                            <td>{{ area.name_area }}</td>
                                            <td>{{ area.desc_area }}</td>
                                            <td>
                                                <div class="menu-actions-tb">
                                                <div class="actions">
                                                    <a href="{{ 'admin/area/edit/' | url }}{{ area.id }}">Editar</a>
                                                    <a href="{{ 'admin/area/delete/' | url }}{{ area.id }}">Eliminar</a>
                                                </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
                <br> 
                <br>
                <br>
            </div>
        </section>
    </article>
{% endblock %}

{% block jslink %}
    <script src='../../public/assets/js/jquery.min.js'></script>
    <script src='../../public/assets/js/jquery.scrollex.min.js'></script>
    <script src='../../public/assets/js/jquery.scrolly.min.js'></script>
    <script src='../../public/assets/js/skel.min.js'></script>
    <script src='../../public/assets/js/util.js'></script>
    <script src='../../public/assets/js/main.js'></script>
{% endblock %}
