{% extends 'layout.twig' %}

{% block csslink %}
    <link rel='stylesheet' href='../../public/assets/css/app.css'>
{% endblock %}

{% block namepage %}
    Perfil de administración en SRPPFG
{% endblock %}

{% block title %}
    Administrador:  {{ vadmin.name }} {{ vadmin.l_name }} {{ vadmin.ml_name }}
{% endblock %}

{% block menu %}
    {% include('remnant/nav-admin.twig') %}
{% endblock %}

{% block configpersonal %}
    {% include('remnant/sub-nav.twig') %}
    <div class="nav-way">
        <p>
        <a class=".btn .btn-primary" href="{{'admin' | url }}">Home</a> &nbsp; | &nbsp; Áreas
        </p>
    </div>
{% endblock %}

{% block content %}
<article id="main">
        <section class="wrapper style5">
            <div class="inner">
                <section>
                    <div class="wrapper-form">
                        <div class="table-wrapper">
                            <div class="menu-actions">
                                <h2>Áreas disponibles</h2>
                                <div class="actions">
                                    <a href="{{ 'admin/area/create' | url }}{{ area.id }}">Nueva área</a>
                                    <a href="{{ 'admin/area/import' | url }}">Área por lote</a>
                                    &nbsp; | &nbsp;
                                    <a href="{{ 'admin/area/createsubarea' | url }}">Nueva sub área</a>
                                </div>
                            </div>
                            <table id="tabla_areas">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Subárea</th>
                                        <th>Descripción</th>
                                        <td>Acción</td>
                                    </tr>
                                </thead>
                                <tbody id="content_table">
                                    {% for area in areas %}
                                        <tr>
                                            <td>{{ area.name }}</td>
                                            
                                            <td>
                                                {% if area.id != area.id_parent_area %}

                                                    {% for subarea in areas %}
                                                        {% if subarea.id == area.id_parent_area %}
                                                            {{ subarea.name }}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </td>
                                            <td>{{ area.description }}</td>
                                            <td>
                                                <div class="menu-actions-tb">
                                                <div class="actions">
                                                    <a href="{{ 'admin/area/edit/' | url }}{{ area.id }}">Editar</a>
                                                    <a href="{{ 'admin/area/delete/' | url }}{{ area.id }}">Eliminar</a>
                                                    <a href="{{ 'admin/area/addsubarea/' | url }}{{ area.id }}">Añadir sub área</a>
                                                </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% if page!=1%}
                                <a href="?page={{ pagination.getPreviousPageNumber() }}">Pagina Anterior</a>
                            {% endif %}
                            {% if areas|length > 0 %}
                            <div>
                                {% for page in pagination.pages %}
                                    <a href="?page={{ page }}">{{ page }}</a> |
                                {% endfor %}
                            </div>
                            {% endif %}
                            {% if pagination.getNextPageNumber()!=''%}
                            <a href="?page={{ pagination.getNextPageNumber() }}">Pagina Siguiente</a>
                            {% endif %}
                        </div>
                    </div>
                </section>
                <br> 
                <br>
                <br>
            </div>
        </section>
    </article>
{% endblock %}

{% block jslink %}
    <script src='../../public/assets/js/jquery.min.js'></script>
    <script src='../../public/assets/js/jquery.scrollex.min.js'></script>
    <script src='../../public/assets/js/jquery.scrolly.min.js'></script>
    <script src='../../public/assets/js/skel.min.js'></script>
    <script src='../../public/assets/js/util.js'></script>
    <script src='../../public/assets/js/main.js'></script>
{% endblock %}
