{% extends 'layout.twig' %}

{% block csslink %}
    <link rel='stylesheet' href='../../public/assets/css/app.css'>
{% endblock %}

{% block namepage %}
    Perfil de administración en SRPPFG
{% endblock %}

{% block title %}
    Administrador:  {{ admin.name }} {{ admin.l_name }}
{% endblock %}

{% block menu %}
    {% include('remnant/nav-admin.twig') %}
{% endblock %}

{% block configpersonal %}
    {% include('remnant/sub-nav.twig') %}
    <div class="nav-way">
        <p>
        <a class=".btn .btn-primary" href="{{'admin' | url }}">Home</a> &nbsp; | &nbsp; Postulantes
        </p>
    </div>
{% endblock %}

{% block content %}
<article id="main">
        <section class="wrapper style5">
            <div class="inner">
                <section>
                    <div class="wrapper-form">
                        <div class="table-wrapper">
                            <div class="menu-actions">
                                <p>Postulantes registrados</p>
                                
                            </div>
                            <table id="tabla_postulantes">
                                <thead>
                                    <tr>
                                        <th>Nombre Postulante</th>
                                        <th>Correo Electronico</th>
                                        <th>Teléfono</th>
                                        <th>Dirección</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="content_table">
                                    {% for postulante in postulantes %}
                                        <tr>
                                            <td>{{ postulante.l_name }} {{postulante.ml_name}} {{postulante.name}}</td>
                                            <td>{{ postulante.email }}</td>
                                            <td>{{ postulante.phone }}</td>
                                            <td>{{ postulante.address }}</td>
                                            <td>
                                                <div class="menu-actions-tb">
                                                    <div class="actions">
                                                        <a href="{{ 'admin/' | url }}{{docente.id}}">Ver Perfil</a>
                                                        <a href="{{ 'admin/' | url }}">Inhabilitar</a>
                                                    </div>
                                                </div>
                                            </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                             {% if page!=1%}
                                <a href="?page={{ pagination.getPreviousPageNumber() }}">Pagina Anterior</a>
                            {% endif %}
                            {% if postulantes|length > 0 %}
                            <div>
                                {% for page in pagination.pages %}
                                    <a href="?page={{ page }}">{{ page }}</a> |
                                {% endfor %}
                            </div>
                            {% endif %}
                             {% if pagination.getNextPageNumber()!=''%}
                            <a href="?page={{ pagination.getNextPageNumber() }}">Pagina Siguiente</a>
                            {% endif %}
                        </div>
                    </div>
                </section>
                <br> 
                <br>
                <br>
            </div>
        </section>
    </article>
{% endblock %}

{% block jslink %}
    <script src='../../public/assets/js/jquery.min.js'></script>
    <script src='../../public/assets/js/jquery.scrollex.min.js'></script>
    <script src='../../public/assets/js/jquery.scrolly.min.js'></script>
    <script src='../../public/assets/js/skel.min.js'></script>
    <script src='../../public/assets/js/util.js'></script>
    <script src='../../public/assets/js/main.js'></script>
{% endblock %}
