{% extends 'layout.twig' %}

{% block csslink %}
    <link rel='stylesheet' href='../../public/assets/css/app.css'>
{% endblock %}

{% block namepage %}
    Perfil de administración en SRPPFG
{% endblock %}

{% block title %}
    Administrador:  {{ admin.name }} {{ admin.l_name }}
{% endblock %}

{% block menu %}
    {% include('remnant/nav-admin.twig') %}
{% endblock %}

{% block configpersonal %}
    {% include('remnant/sub-nav.twig') %}
{% endblock %}

{% block content %}
<article id="main">
        <section class="wrapper style5">
            <div class="inner">
                <section>
                    <div class="wrapper-form">
                        <div class="table-wrapper">
                            <div class="menu-actions">
                                <p>Sub áreas disponibles</p>
                                <div class="actions">
                                    <a href="{{ 'admin/subarea/create' | url }}{{ area.id }}">Nueva sub área</a>
                                    <a href="{{ 'admin/subarea' | url }}{{ area.id }}">Sub área por lote</a>
                                </div>
                            </div>
                            <table id="tabla_factura">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Descripción</th>
                                        <td>Acción</td>
                                    </tr>
                                </thead>
                                <tbody id="content_table">
                                    {% for subarea in subareas %}
                                        <tr>
                                            <td>{{ subarea.name_subarea }}</td>
                                            <td>{{ subarea.desc_subarea }}</td>
                                            <td>
                                                <div class="menu-actions-tb">
                                                <div class="actions">
                                                    <a href="{{ 'admin/subarea/edit/' | url }}{{ subarea.id }}">Editar</a>
                                                    <a href="{{ 'admin/subarea/delete/' | url }}{{ subarea.id }}">Eliminar</a>
                                                </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
                <br> 
                <br>
                <br>
            </div>
        </section>
    </article>
{% endblock %}

{% block jslink %}
    <script src='../../public/assets/js/jquery.min.js'></script>
    <script src='../../public/assets/js/jquery.scrollex.min.js'></script>
    <script src='../../public/assets/js/jquery.scrolly.min.js'></script>
    <script src='../../public/assets/js/skel.min.js'></script>
    <script src='../../public/assets/js/util.js'></script>
    <script src='../../public/assets/js/main.js'></script>
{% endblock %}


