{% extends 'layout.twig' %}

{% block csslink %}
    <link rel='stylesheet' href='../../public/assets/css/app.css'>
{% endblock %}

{% block namepage %}
    Perfil de administración en SRPPFG
{% endblock %}

{% block title %}
    Administrador:  {{ vadmin.name }} {{ vadmin.l_name }} {{ vadmin.ml_name }}
{% endblock %}

{% block menu %}
    {% include('remnant/nav-admin.twig') %}
{% endblock %}

{% block configpersonal %}
    {% include('remnant/sub-nav.twig') %}
    <div class="nav-way">
        <p>
        <a class=".btn .btn-primary" href="{{'admin' | url }}">Home</a> &nbsp; | &nbsp; Proyectos
        </p>
    </div>
{% endblock %}

{% block content %}
<article id="main">
        <section class="wrapper style5">
            <div class="inner">
                <section>
                    <div class="wrapper-form">
                        <div class="message-box">
                            {% include 'remnant/errors.twig' %}
                            {% include 'remnant/success.twig' %}
                            {% include 'remnant/warning.twig' %}
                        </div>
                        <div class="table-wrapper">
                            <div class="menu-actions">
                                <p>Proyectos de Grado registrados</p>
                                <div class="actions">
                                    <a href="{{ 'admin/projects/import' | url }}">Importar Por lote</a>
                                </div>
                            </div>
                            <table id="tabla_perfiles">
                                <thead>
                                    <tr>
                                        <th>Título</th>
                                        <th>Postulante(s)</th>
                                        <th>Estado</th>
                                        <th>Defensa</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="arealist">
                                    {% for profile in profiles %}
                                        <tr>
                                            <td>
                                                {{ profile.title }}
                                            </td>

                                            <td>
                                                {% for postperf in postperfs %}
                                                    {% if postperf.id_profile == profile.id %}
                                                        {% for post in posts %}
                                                            {% if post.id == postperf.id_postulant %}
                                                                {{'- '}}{{ post.name }} {{ post.l_name }} {{ post.ml_name}}{{'<br>'}}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor %}
                                            </td>

                                            <td>
                                                {% for state in status %}
                                                    {% if state.id == profile.id_status %}
                                                        {{ state.name }}
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            
                                            <td>
                                            {% set condition = true %}
                                            {% for postperf in postperfs %}
                                                {% if postperf.id_profile == profile.id %}
                                                    {% for period in periods %}

                                                        {% if period.id == postperf.id_period and condition %}
                                                           {{ period.end_date }}
                                                            {% set condition = false %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% else %}
                                                
                                            {% endfor %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% if page!=1%}
                                <a href="?page={{ pagination.getPreviousPageNumber() }}">Pagina Anterior</a>
                            {% endif %}
                            {% if profiles|length > 0 %}
                            <div>
                                {% for page in pagination.pages %}
                                    <a href="?page={{ page }}">{{ page }}</a> |
                                {% endfor %}
                            </div>
                            {% endif %}
                             {% if pagination.getNextPageNumber()!=''%}
                            <a href="?page={{ pagination.getNextPageNumber() }}">Pagina Siguiente</a>
                            {% endif %}
                        </div>
                    </div>
                </section>
                <br> 
                <br>
                <br>
            </div>
        </section>
    </article>
{% endblock %}

{% block jslink %}
    <script src='../../public/assets/js/jquery.min.js'></script>
    <script src='../../public/assets/js/jquery.scrollex.min.js'></script>
    <script src='../../public/assets/js/jquery.scrolly.min.js'></script>
    <script src='../../public/assets/js/skel.min.js'></script>
    <script src='../../public/assets/js/util.js'></script>
    <script src='../../public/assets/js/main.js'></script>
{% endblock %}
