{% extends 'layout.twig' %}

{% block content %}
    <h2>Lista de todos los docentes</h2>
    <a href="{{ 'admin' | url }}">Atras</a>
    <br><br>
    <a href="{{ 'admin/teachers/create' | url }}">Insertar docente</a><br>
    <a href="{{ 'admin/teachers/import' | url }}">Importar docentes desde archivo</a><br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Informacion</th>
                <th scope="col">boton</th>
            </tr>
        </thead>
        <tbody>
            {% for docente in docentes %}
                <tr>
                    {# <td>{{ area.name_area }}</td>
                    <td>{{ area.desc_area }}</td>
                    <td><a href="{{ 'admin/' | url }}">boton</a></td> #}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}