{% extends 'layout.twig' %}

{% block csslink %}
    <link rel='stylesheet' href='../../../../public/assets/css/app.css'>
{% endblock %}

{% block namepage %}
    Perfil de administración en SRPPFG
{% endblock %}

{% block title %}
    Administrador:  {{ vProfile.name }} {{ admin.l_name }}
{% endblock %}

{% block menu %}
    {% include('remnant/nav-admin.twig') %}
{% endblock %}

{% block configpersonal %}
    {% include('remnant/sub-nav.twig') %}
    <div class="nav-way">
        <p>
        <a class=".btn .btn-primary" href="{{'admin' | url }}">Home</a> &nbsp; | &nbsp; <a class=".btn .btn-primary" href="{{'admin/subarea' | url }}">Sub áreas</a> &nbsp; | &nbsp; Actualizar sub área
        </p>
    </div>
{% endblock %}

{% block content %}
<article id="main">
        <section class="wrapper style5">
            <div class="inner">
                <section>
                    <div class="wrapper-form">
                        <div class="message-box">
                            {% if errors %}
                                {% include 'remnant/errors.twig' %}
                            {% endif %}
                            {% if result %}
                                {% include 'remnant/success.twig' %}
                            {% endif %}
                            
                        </div>
                        <form method="post" action="#">
							<input type="hidden" name="idArea" value="{{ subarea.id }}">
                            <div class="row uniform">
                                <div class="12u 12u$(xsmall)">
                                    <label>Nombre del sub área</label>
                                    <input type="text" name="name" id="name" value="{{ subarea.name_subarea }}">
                                </div>
                                <div class="12u 12u$(xsmall)">
                                    <label>Descripción del sub área</label>
									<textarea name="desc" id="desc" rows="5">{{ subarea.desc_subarea }}</textarea>
                                </div>
                            </div>
                            <br>
                            <div class="12u 12u$(xsmall)">
                                <ul class="actions" style="text-align: center">
                                    <li><button class="principal" type="submit">Actualizar</button>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </section>
                <br> 
                <br>
                <br>
            </div>
        </section>
    </article>
{% endblock %}

{% block jslink %}
    <script src='../../../../public/assets/js/jquery.min.js'></script>
    <script src='../../../public/assets/js/jquery.scrollex.min.js'></script>
    <script src='../../../../public/assets/js/jquery.scrolly.min.js'></script>
    <script src='../../../../public/assets/js/skel.min.js'></script>
    <script src='../../../../public/assets/js/util.js'></script>
    <script src='../../../../public/assets/js/main.js'></script>
{% endblock %}