{% extends 'layout.twig' %}

{% block csslink %}
    {% if editp %}
        <link rel='stylesheet' href='../../../../../public/assets/css/app.css'>
    {% else %}
        <link rel='stylesheet' href='../../../../public/assets/css/app.css'>
    {% endif %}
    
{% endblock %}

{% block namepage %}
    Perfil de postulante en SRPPFG
{% endblock %}

{% block title %}
    Postulante:  {{ vPerfil.name }} {{ vPerfil.l_name }} {{ vPerfil.ml_name }}
{% endblock %}

{% block menu %}
    {% include('remnant/nav-postulant.twig') %}
{% endblock %}

{% block configpersonal %}
    <div class="configpersonal">
        {# <a class=".btn .btn-primary" href="{{'logout' | url }}">Salir</a>
        <a class="principal" href="{{'postulant/config' | url }}">Configuración</a> #}
    </div>
    <div class="nav-way">
        <p>
      {% if editp %}
            <a class=".btn .btn-primary" href="{{'postulant' | url }}">Inicio</a> &nbsp; | &nbsp; <a class=".btn .btn-primary" href="{{'postulant/settle/restrained/view' | url }}">Ver Perfil</a> &nbsp; | &nbsp; Editar
        {% else %}
            <a class=".btn .btn-primary" href="{{'postulant' | url }}">Inicio</a> &nbsp; | &nbsp; Perfil
        {% endif %}
        </p>
    </div>
{% endblock %}

{% block content %}
<article id="main">
        <section class="wrapper style5">
            <div class="inner">
                <section class="table-report">
                    <h4 style="text-align: center;">Perfil Nro. {{profile.num_profile}}</h4>
                    <div class="message-box">
                        {% include 'remnant/errors.twig' %}
                        {% include 'remnant/warning.twig' %}
                        {% include 'remnant/success.twig' %}
                        
                    </div>
                    <p style="float:right">Nro. {{profile.num_profile}}</p>
                    <form method="post" action="#">
                        <table id="table_settle">
                            <tr>
                                <td width=25%><strong style="color:#3b3d3f; font-weight: bold;">Nombre del<br> estudiante(s)</strong></td>
                                <td width=25%><p style="font-size: .9em;  border-bottom: solid 1px gray; margin-bottom: 1em;">Apellido Paterno</p><p>{{ postf.l_name }}</p><p>{{ posts.l_name }}</p></td>
                                <td width=25%><p style="font-size: .9em;  border-bottom: solid 1px gray; margin-bottom: 1em;">Apellido Materno</p><p>{{ postf.ml_name }}</p><p>{{ posts.ml_name }}</p></td>
                                <td width=25%><p style="font-size: .9em;  border-bottom: solid 1px gray; margin-bottom: 1em;">Nombre(s)</p><p>{{ postf.name }}</p><p>{{ posts.name }}</p></td>
                            </tr>
                            <tr>
                                <td colspan="2"><p><strong style="color:#3b3d3f; font-weight: bold;">Email:<br></strong>{{ postf.email }}<br>{{ posts.email }}</p></td>
                                <td colspan="2"><p><strong style="color:#3b3d3f; font-weight: bold;">Teléfono:<br></strong>{{ postf.phone }}<br>{{ posts.phone }}</p> </td>
                            </tr>
                            <tr>
                                <td colspan="2"><p><strong style="color:#3b3d3f; font-weight: bold;">Carrera: </strong>{{ career.name }}</p></td>
                                <td colspan="2"><p><strong style="color:#3b3d3f; font-weight: bold;">Modalidad: </strong>{{ modality.name_mod }}</p></td>
                                
                            </tr>
                            <tr>
                                <td><p><strong style="color:#3b3d3f; font-weight: bold;">Aprobado en: </strong>{{ approved }}</p></td>

                                <td colspan="2"><p><strong style="color:#3b3d3f; font-weight: bold;">Fecha límite de defensa: </strong>{{period.end_date}}</p></td>

                                <td><p><strong style="color:#3b3d3f; font-weight: bold;">Estado: </strong>{{ cstate.name }}</p></td>
                            </tr>
                             {% if modality.id == 3 %}
                                <tr>
                                    <td colspan="4"><p><strong style="color:#3b3d3f; font-weight: bold;">Institución participante: </strong>{{attendant.name}} ({{attendant.acronym}})</p></td>
                                </tr>
                            {% endif %}
                             {% if not editp %}
                            <tr>
                                <td colspan="4"><p><strong style="color:#3b3d3f; font-weight: bold;">Tutor(es): </strong>{{tutorfir.name}} {{tutorfir.l_name}} {{tutorfir.ml_name}}
                                {% if twofold %} / {{ tutorsec.name}} {{tutorsec.l_name}} {{tutorsec.ml_name}} {% endif %} </p></td>
                            </tr>
                            {% else %}
                                    <tr>
                                    <td colspan="2">
                                        <label><strong style="color:red">(*) </strong> Tutor</label>
                                        <select name="tutor" id="tutor">
                                            <option value=""disabled selected>- Seleccione al tutor titular -</option>
                                            {% for iprof in iprofessionals %}
                                                {% for itutor in itutors %}
                                                    {% if iprof.id == itutor and iprof.active == 1 %}
                                                        <option value="{{iprof.id_account}}">{{ iprof.name }} {{ iprof.l_name }} {{ iprof.ml_name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                            {% for eprof in eprofessionals %}
                                                {% for etutor in etutors %}
                                                    {% if eprof.id == etutor and eprof.active == 1 %}
                                                        <option value="{{eprof.id_account}}">{{ eprof.name }} {{ eprof.l_name }} {{ eprof.ml_name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        </select>
                                        </td>    
                                    <td colspan="2">
                                        <label>Segundo tutor (opcional)</label>
                                        <select name="stutor" id="stutor">
                                            <option value=""disabled selected>- Seleccione al segundo tutor -</option>
                                            {% for iprof in iprofessionals %}
                                                {% for itutor in itutors %}
                                                    {% if iprof.id == itutor and iprof.active == 1 %}
                                                        <option value="{{iprof.id_account}}">{{ iprof.name }} {{ iprof.l_name }} {{ iprof.ml_name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                            {% for eprof in eprofessionals %}
                                                {% for etutor in etutors %}
                                                    {% if eprof.id == etutor and eprof.active == 1 %}
                                                        <option value="{{eprof.id_account}}">{{ eprof.name }} {{ eprof.l_name }} {{ eprof.ml_name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        </select>
                                        </td>    
                                    
                            {% endif %}

                            <tr>
                                <td colspan="2"><p><strong style="color:#3b3d3f; font-weight: bold;">Área: </strong>{{areap.name}}</p></td>
                                <td colspan="2"><p><strong style="color:#3b3d3f; font-weight: bold;">Sub área: </strong>{{ subareap.name }}</p> </td>
                            </tr>
                            {% if editp %}
                                <tr>
                                    <td colspan="4">
                                        <label><strong style="color:red">(*) </strong> Título</label>
                                        <input type="text" name="title" id="title" value="{{ profile.title }}" />
                                    </td>
                                </tr> 
                                <tr>
                                    <td colspan="4">
                                    {# <p><strong style="color:#3b3d3f; font-weight: bold;">Objetivo general: </strong>{{ profile.g_objective }}</p> #}
                                    <label><strong style="color:red">(*) </strong> Objetivo general</label>
                                        <input type="text" name="gobj" id="gobj" value="{{ profile.g_objective }}" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                    {# <p><strong style="color:#3b3d3f; font-weight: bold;">Objetivos específicos: </strong>{{ profile.s_objects }}</p> #}
                                    <label><strong style="color:red">(*) </strong> Objetivos específicos</label>
                                        <textarea name="sobj" id="sobj" rows="2"><pre>{{ profile.s_objects }}<pre></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                    {# <p><strong style="color:#3b3d3f; font-weight: bold;">Descripción: </strong>{{ profile.description }}</p> #}
                                    <label><strong style="color:red">(*) </strong> Descripción</label>
                                        <textarea name="dcptn" id="dcptn" rows="2"><pre>{{ profile.description }}</pre></textarea>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4"><p><strong style="color:#3b3d3f; font-weight: bold;">Título: </strong>{{ profile.title }}</p></td>
                                </tr> 
                                <tr>
                                    <td colspan="4"><p><strong style="color:#3b3d3f; font-weight: bold;">Objetivo general: </strong>{{ profile.g_objective }}</p></td>
                                </tr>
                                <tr>
                                    <td colspan="4"><p><strong style="color:#3b3d3f; font-weight: bold;">Objetivos específicos: </strong><pre>{{ profile.s_objects }}</pre></p></td>
                                </tr>
                                <tr>
                                    <td colspan="4"><p><strong style="color:#3b3d3f; font-weight: bold;">Descripción: </strong><pre>{{ profile.description }}</pre></p></td>
                                </tr>
                            {% endif %}

                        </table>
                        {% if group %}
                            <table id="table_settle">
                                <tr>
                                    <td colspan="5" height="30px"></td>
                                </tr>
                                <tr style="text-align: center; font-size: .95em;">
                                    <td>
                                        <p style="border-top: 1px dotted gray;">{{director.name}} {{director.l_name}} {{director.ml_name}}</p><p>Director de carrera</p>
                                    </td>
                                    <td>
                                        <p style="border-top: 1px dotted gray;">{{ teacher.name }} {{ teacher.l_name }} {{ teacher.ml_name }}</p><p>Docente de la Materia</p>
                                    </td>
                                    <td>
                                        <p style="border-top: 1px dotted gray;">{{tutorfir.name}} {{tutorfir.l_name}} {{tutorfir.ml_name}}</p><p>Tutor</p>
                                    </td>
                                    {% if modality.id == 3 %}
                                        <td>
                                            <p style="border-top: 1px dotted gray;">{{attendant.responsable}}</p><p>Responsable</p>
                                        </td>
                                    {% endif %}
                                    <td>
                                        <p style="border-top: 1px dotted gray;">{{ postf.name }} {{ postf.l_name }} {{ postf.ml_name }}</p><p>Estudiante</p>
                                    </td>
                                </tr>
                            </table>
                        {% else %}
                            <table id="table_settle">
                                <tr>
                                    <td colspan="5" height="50px"></td>
                                </tr>
                                <tr style="text-align: center; font-size: .95em;">
                                    <td>
                                        <p style="border-top: 1px dotted gray;">{{director.name}} {{director.l_name}} {{director.ml_name}}</p> <p>Director de carrera</p>
                                    </td>
                                    <td>
                                        <p style="border-top: 1px dotted gray;">{{ teacher.name }} {{ teacher.l_name }} {{ teacher.ml_name }}</p><p>Docente de la Materia</p>
                                    </td>
                                    <td>
                                        <p style="border-top: 1px dotted gray;">{{tutorfir.name}} {{tutorfir.l_name}} {{tutorfir.ml_name}}</p><p>Tutor</p>
                                    </td>
                                    {% if modality.id == 3 %}
                                        <td>
                                            <p style="border-top: 1px dotted gray;">{{attendant.responsable}}</p><p>Responsable</p>
                                        </td>
                                    {% endif %}
                                    <td>
                                        <p style="border-top: 1px dotted gray;">{{ postf.name }} {{ postf.l_name }} {{ postf.ml_name }}</p><p>Estudiante</p>
                                    </td>
                                </tr>
                            </table>
                        {% endif %}
                        <br>
                        {% if editp %}
                            <div class="12u 12u$(xsmall)">
                                <ul class="actions" style="text-align: center">
                                    <li><button class="principal" type="submit">Guardar los cambios</button>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                        
                    </form>
                    {% if not editp %}
                        <div class="configpersonal" style="text-align: center;">
                            {% if cstate.name == "aceptado" %}
                                <a class=".btn .btn-primary"  style="border: 1px solid #1a237e;" href="{{'postulant/settle/restrained/edit/' | url }}{{profile.id}}">Editar Perfil</a> 
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            {% endif %}
                            <a class="principal"  style="border: 1px solid #1a237e;" href="{{'postulant/settle/restrained/download/' | url }}{{profile.id}}">Descargar en PDF</a>
                            {% if cstate.name == "aceptado" %}
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                <a class="principal"  style="border: 1px solid #1a237e;" href="{{'postulant/settle/restrained/publish/' | url }}{{profile.id}}">Publicar Perfil</a>
                            {% endif %}                            
                        </div>
                    {% endif %}
                    
                </section>
            </div>
        </section>
    </article>
{% endblock %}

{% block jslink %}
    {% if editp %}
        <script src='../../../../../public/assets/js/jquery.min.js'></script>
        <script src='../../../../../public/assets/js/jquery.scrollex.min.js'></script>
        <script src='../../../../../public/assets/js/jquery.scrolly.min.js'></script>
        <script src='../../../../../public/assets/js/skel.min.js'></script>
        <script src='../../../../../public/assets/js/util.js'></script>
        <script src='../../../../../public/assets/js/main.js'></script>
    {% else %}
        <script src='../../../../public/assets/js/jquery.min.js'></script>
        <script src='../../../../public/assets/js/jquery.scrollex.min.js'></script>
        <script src='../../../../public/assets/js/jquery.scrolly.min.js'></script>
        <script src='../../../../public/assets/js/skel.min.js'></script>
        <script src='../../../../public/assets/js/util.js'></script>
        <script src='../../../../public/assets/js/main.js'></script>
    {% endif %}

{% endblock %}
