{% extends 'layout.twig' %}

{% block csslink %}
    <link rel='stylesheet' href='../../public/assets/css/app.css'>
{% endblock %}

{% block namepage %}
    Perfil de postulante en SRPPFG
{% endblock %}

{% block title %}
    Postulante:  {{ vPerfil.name }} {{ vPerfil.l_name }} {{ vPerfil.ml_name }}
{% endblock %}

{% block menu %}
    {% include('remnant/nav-postulant.twig') %}
{% endblock %}

{% block configpersonal %}
    <div class="configpersonal">
        <a class=".btn .btn-primary" href="{{'logout' | url }}">Salir</a>
        <a class="principal" href="{{'postulant/config' | url }}">Configuración</a>
    </div>
    <div class="nav-way">
        <p>
        <a class=".btn .btn-primary" href="{{'postulant' | url }}">Home</a> &nbsp; | &nbsp; Perfil
        </p>
    </div>
{% endblock %}

{% block content %}
<article id="main">
        <section class="wrapper style5">
            <div class="inner">
                <section class="content-main">
                    <div>
                        <h4 style="text-align: center;">Definición de Perfil</h4>
                        <p style="text-align: left; color: red">Verifique sus datos personales, si tiene algún error puede cambiar desde la <a class="principal" href="{{'postulant/config' | url }}">configuración</a> de su cuenta antes de definir su perfil. </p>
                        <p style="text-align: left; color: red">Todos los campos marcados con (*) deben de ser llenados de forma obligatoria.</p>
                        <p style="text-align: left; color: red">Si todo está en orden puede iniciar con la definición de su perfil.</p> 
                        
                        <div class="configpersonal" style="text-align: center; margin-top: 3em;">
                            <a class=".btn .btn-primary"  style="border: 1px solid #1a237e;" href="{{'postulant' | url }}">Cancelar</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            <a class="principal"  style="border: 1px solid #1a237e;" href="{{'postulant/settle/heading' | url }}">Iniciar</a>
                            
                        </div>
                    </div>
                    <div class="status-defprofile">
                        <div class="status">
                            <p class="active">1</p>
                        </div>
                        <div class="status">
                            <p>2</p>
                        </div>
                        <div class="status">
                            <p>3</p>
                        </div>
                        <div class="status">
                            <p>4</p>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </article>
{% endblock %}

{% block jslink %}
    <script src='../../public/assets/js/jquery.min.js'></script>
    <script src='../../public/assets/js/jquery.scrollex.min.js'></script>
    <script src='../../public/assets/js/jquery.scrolly.min.js'></script>
    <script src='../../public/assets/js/skel.min.js'></script>
    <script src='../../public/assets/js/util.js'></script>
    <script src='../../public/assets/js/main.js'></script>
{% endblock %}
