<nav id="nav">
    <ul>
        <li class="special">
            <a href="#menu" class="menuToggle"><span>Menu</span></a>
            <div id="menu">
                <div class="content-avatar">
                    <div class="avatar">
                        <p>{{uimage}}</p>
                    </div>
                    <p class="sname"> {{ vPerfil.name }} {{ vPerfil.l_name }} {{ vPerfil.ml_name }}</p>
                </div>
                <br><br><br>
                <div class="configpersonal">
                    <a class=".btn .btn-primary" style="border: 1px solid blue;" href="{{'logout' | url }}">Salir</a> &nbsp; &nbsp; &nbsp;
                        {% if etn %}
                            {# si es docente es externo #}
                            <a class="principal" style="border: 1px solid blue;" href="{{'etnprofessional/config' | url }}">Configuración</a>
                        {% else %}
                            <a class="principal" style="border: 1px solid blue;" href="{{'itnprofessional/config' | url }}">Configuración</a>    
                        {% endif %}
                </div>
                
                <br>

                <ul> 
                    {% if etn %}
                        <li>
                            <a href="{{'etnprofessional/interestareas' | url }}">Seleccionar áreas de interés</a>
                        </li>
                        <li>
                            <a href="{{'etnprofessional/projects' | url }}">Asistencia a Proyectos</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{'itnprofessional/interestareas' | url }}">Seleccionar áreas de interés</a>
                        </li>
                        <li>
                            <a href="{{'itnprofessional/projects' | url }}">Asistencia a Proyectos</a>
                        </li>
                    {% endif %}
                    
                </ul>
            </div>
        </li>
    </ul>
</nav>