<nav id="nav">
    <ul>
        <li class="special">
            <a href="#menu" class="menuToggle"><span>Menu</span></a>
            <div id="menu">
                <div class="content-avatar">
                    <div class="avatar">
                        <figure>
                            <a href="{{'admin' | url }}"><img src='images/avatar/a1.png' alt="Administrador" srcset=""></a>
                            
                        </figure>
                    </div>
                    <p> {{ vPerfil.name }} {{ vPerfil.l_name }} </p>
                </div>
                
                <br><br><br>
                <ul> 
                    <li>
                        <a href="{{'admin/area' | url }}">Administrar áreas</a>
                    </li>
                    <li>
                        <a href="{{'admin/subarea' | url }}">Administrar sub áreas</a>
                    </li>
                    <li>
                        <a href="{{'admin/professionals' | url }}">Administrar Profecionales</a>
                    </li>
                    <li>
                        <a href="{{'admin/postulants' | url }}">Administrar cuenta de Estudiantes</a>
                    </li>
                    <li>
                        <a href="{{'admin/projects' | url }}">Administrar Proyectos</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>