<nav id="nav">
    <ul>
        <li class="special">
            <a href="#menu" class="menuToggle"><span>Menu</span></a>
            <div id="menu">
                <div class="content-avatar">
                    <div class="avatar">
                        <p>{{uimage}}</p>
                    </div>
                    <p class="sname"> {{ vadmin.name }} {{ vadmin.l_name }} {{ vadmin.ml_name }}</p>
                </div>
                <br><br><br>
                <div class="configpersonal">
                    <a class=".btn .btn-primary" style="border: 1px solid blue;" href="{{'logout' | url }}">Salir</a>&nbsp; &nbsp; &nbsp;
                    <a class="principal" style="border: 1px solid blue;" href="{{'admin/config' | url }}">Configuración</a>
                </div>
                <br>
                <ul> 
                    <li>
                        <a href="{{'admin/area' | url }}">Administrar áreas</a>
                    </li>
                    <li>
                        <a href="{{'admin/professionals' | url }}">Administrar Profesionales</a>
                    </li>
                    <li>
                        <a href="{{'admin/postulants' | url }}">Administrar cuenta de Estudiantes</a>
                    </li>
                    <li>
                        <a href="{{'admin/projects' | url }}">Administrar Proyectos</a>
                    </li>
                    <li>
                        <a href="{{'admin/users' | url }}">Administrar Usuarios</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>