<nav id="nav">
    <ul>
        <li class="special">
            <a href="#menu" class="menuToggle"><span>Menu</span></a>
            <div id="menu">
                <div class="content-avatar">
                    <div class="avatar">
                        <p>{{uimage}}</p>
                    </div>
                    <p class="sname"> {{ vPerfil.name }} {{ vPerfil.l_name }} {{ vPerfil.ml_name }}</p>
                </div>
                <br><br><br>
                <div class="configpersonal">
                    <a class=".btn .btn-primary" style="border: 1px solid blue;" href="{{'logout' | url }}">Salir</a> &nbsp; &nbsp; &nbsp; 
                    <a class="principal" style="border: 1px solid blue;" href="{{'secretary/config' | url }}">Configuración</a>
                </div>
                <br>
                <ul> 
                    <li>
                        <a href="{{'secretary/settle' | url }}">Modificar Perfiles </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>