{% if result %}
    <div class="alert alert-success">
        Agregado satisfactoriamente.
    </div>
{% endif %}

{% if sent %}
    <div class="alert alert-success">
        Su contraseña fue enviada a su correo. Revise en su bandeja de entrada.
    </div>
{% endif %}

{% if createAccount %}
    <div class="alert alert-success">
        La cuenta fue agregada exitosamente. <br>
        El nombre de usuario y contraseña fue enviado al correo del profesional.
    </div>
{% endif %}


{% if resultRol %}
    <div class="alert alert-success">
        Actualizado exitosamente el Rol del Profesional.
    </div>
{% endif %}

{% if resultActive %}
    <div class="alert alert-success">
        Actualizado exitosamente el estado del Profesional.
    </div>
{% endif %}

{% if resultCA %}
    <div class="alert alert-success">
        Sr(a) Administrador {{vPerfil.name}} {{vPerfil.l_name}} {{vPerfil.ml_name}} su información fue actualizada correctamente.
    </div>
{% endif %}

{% if resultCP %}
    <div class="alert alert-success">
        Sr(a) Docente {{vPerfil.name}} {{vPerfil.l_name}} {{vPerfil.ml_name}}, su información fue actualizada correctamente.
    </div>
{% endif %}

{% if resultCPost %}
    <div class="alert alert-success">
        Sr(a) Postulante {{vPerfil.name}} {{vPerfil.l_name}} {{vPerfil.ml_name}}, su información fue actualizada correctamente.
    </div>
{% endif %}

{% if resultCS %}
    <div class="alert alert-success">
        Sra Secretaria {{vPerfil.name}} {{vPerfil.l_name}} {{vPerfil.ml_name}}, su información fue actualizada correctamente.
    </div>
{% endif %}
