{% extends 'layout.twig' %}

{% block csslink %}
    <link rel='stylesheet' href='../../public/assets/css/app.css'>

    <link rel='stylesheet' href='../../public/assets/alertifyjs/css/alertify.min.css'>
    {# <link rel='stylesheet' href='../../public/assets/alertifyjs/css/alertify.rtl.min.css'> #}
    <link rel='stylesheet' href='../../public/assets/alertifyjs/css/themes/default.min.css'>
    {# <link rel='stylesheet' href='../../public/assets/alertifyjs/css/themes/default.rtl.min.css'> #}

{% endblock %}

{% block namepage %}
    Áreas de interés para docentes
{% endblock %}

{% block title %}
    Docente:  {{ vPerfil.name }} {{ vPerfil.l_name }} {{ vPerfil.ml_name }}
{% endblock %}

{% block menu %}
    {% include('remnant/nav-professional.twig') %}
{% endblock %}

{% block configpersonal %}
    <div class="configpersonal">
        {# <a class=".btn .btn-primary" href="{{'logout' | url }}">Salir</a>
            {% if etn %}
                <a class="principal" href="{{'etnprofessional/config' | url }}">Configuración</a>
            {% else %}
                <a class="principal" href="{{'itnprofessional/config' | url }}">Configuración</a>    
            {% endif %} #}
    </div>
    <div class="nav-way">
        <p>
            {% if etn %}
                <a class=".btn .btn-primary" href="{{'etnprofessional' | url }}">Home</a> &nbsp; | &nbsp; Áreas de interés
            {% else %}
                <a class=".btn .btn-primary" href="{{'itnprofessional' | url }}">Home</a> &nbsp; | &nbsp; Áreas de interés
            {% endif %}
        </p>
    </div>
{% endblock %}

{% block content %}
<article id="main">
        <section class="wrapper style5">
            <div class="inner">
                <section>
                    <div class="wrapper-form">
                        <div class="table-wrapper">
                            <div class="menu-actions">
                                <h2>Mis áreas de conocimiento</h2>
                            </div>
                            <table id="tabla_docentes">
                                <thead>
                                    <tr>
                                        <th>Nombre de área</th>
                                        <th>Adicionarme</th>
                                    </tr>
                                </thead>
                                <tbody id="arealist">
                                    {% for area in vareas %}
                                        <tr>
                                            <td>
                                                {{ area.name }} {# {{ area.id == area.id_parent_area ? '<span class="algo">Tiene subareas</span>' : '' }} #}
                                            </td>
                                            <td width="20%">
                                                <div class="menu-actions-tb">
                                                    <div class="actions">
                                                        {% if emptyarea %}
                                                            <a href="{{ etn ? 'settle/' : 'itnprofessional/settle/' | url }}{{ area.id }}" id='subjoin' >Añadir</a>
                                                        {% else %}

                                                            {% set condition = true %}
                                                            
                                                            {% for profarea in profareas if condition %}
                                                                {% if area.id == profarea.id_area %}
                                                                    {% if profarea.id_prof == vPerfil.id %}
                                                                    <a href="{{ etn ? 'remove/' : 'itnprofessional/remove/' | url }}{{ profarea.id }}" id="delete" >Quitar</a>
                                                                    {% set condition = false %}
                                                                    {% endif %}
                                                                    
                                                                {% endif %}
                                                            {% endfor %}
                                                            {% if condition %}
                                                                    <a href="{{ etn ? 'settle/' : 'itnprofessional/settle/' | url }}{{ area.id }}" id='nsubjoin' >Añadir</a>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
                <br> 
                <br>
                <br>
            </div>
        </section>
    </article>
{% endblock %}

{% block jslink %}
    <script src='../../public/assets/js/jquery.min.js'></script>
    <script src='../../public/assets/js/jquery.scrollex.min.js'></script>
    <script src='../../public/assets/js/jquery.scrolly.min.js'></script>
    <script src='../../public/assets/js/skel.min.js'></script>
    <script src='../../public/assets/js/util.js'></script>
    <script src='../../public/assets/js/main.js'></script>

    <script src='../../public/assets/js/jquery-3.3.1.min.js'></script>
    <script src='../../public/assets/alertifyjs/alertify.min.js'></script>
    
    <script>
        $(document).ready(function(){
            $('#subjoin').click(function(){
                alertify.success("Se agregó el área correctamente");
            });
            $('#nsubjoin').click(function(){
                alertify.success("Se agregó el área correctamente");
            });
        });

        $(document).ready(function() {
            $('a').click(function(event) {
                var id = $(this).prop('id');
                if (id == 'delete') {
                    var result = confirm("Todas las sub áreas dependientes se eliminaran. \n ¿Realmente desea quitar el área?");
                    if (result == true){
                        return falsel
                    }else{
                        event.preventDefault();
                    }
                } 
            });
        });
    </script>





{% endblock %}
